{
        admin unix//run/caddy/caddy-admin.sock
        default_bind {$POD_IP} 127.0.0.1

        http_port 8080
        https_port 8443

        ocsp_stapling off

        servers {$POD_IP}:8080 {
                name health
                protocols h1 h2c
        }

        servers {$POD_IP}:8443 {
                name nextcloud
                trusted_proxies static private_ranges
        }

        log default {
                format console
        }
}

{$POD_IP}:8080 {
        handle /health-check {
                @goingDown vars {http.shutting_down} true
                respond @goingDown "Bye-bye in {http.time_until_shutdown}" 503
                respond 200
        }

        php_fastcgi /ping unix//run/php-fpm/php-fpm.sock {
                index off
        }

        log_skip
}

:8443 {
        tls /tls/tls.crt /tls/tls.key

        request_body {
                max_size 512MB
        }

        encode {
                zstd
                gzip 4

                minimum_length 256

                match {
                        header Content-Type application/atom+xml
                        header Content-Type application/javascript
                        header Content-Type application/json
                        header Content-Type application/ld+json
                        header Content-Type application/manifest+json
                        header Content-Type application/rss+xml
                        header Content-Type application/vnd.geo+json
                        header Content-Type application/vnd.ms-fontobject
                        header Content-Type application/wasm
                        header Content-Type application/x-font-ttf
                        header Content-Type application/x-web-app-manifest+json
                        header Content-Type application/xhtml+xml
                        header Content-Type application/xml
                        header Content-Type font/opentype
                        header Content-Type image/bmp
                        header Content-Type image/svg+xml
                        header Content-Type image/x-icon
                        header Content-Type text/cache-manifest
                        header Content-Type text/css
                        header Content-Type text/javascript
                        header Content-Type text/plain
                        header Content-Type text/vcard
                        header Content-Type text/vnd.rim.location.xloc
                        header Content-Type text/vtt
                        header Content-Type text/x-component
                        header Content-Type text/x-cross-domain-policy
                }
        }

        header {
                Permissions-Policy "accelerometer=(), ambient-light-sensor=(), autoplay=(), battery=(), camera=(), cross-origin-isolated=(), display-capture=(), document-domain=(), encrypted-media=(), execution-while-not-rendered=(), execution-while-out-of-viewport=(), fullscreen=(), geolocation=(), gyroscope=(), keyboard-map=(), magnetometer=(), microphone=(), midi=(), navigation-override=(), payment=(), picture-in-picture=(), publickey-credentials-get=(), screen-wake-lock=(), sync-xhr=(), usb=(), web-share=(), xr-spatial-tracking=()"
                Referrer-Policy "no-referrer"
                Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
                X-Content-Type-Options "nosniff"
                X-Frame-Options "SAMEORIGIN"
                X-Permitted-Cross-Domain-Policies "none"
                X-Robots-Tag "noindex, nofollow"
                X-XSS-Protection "1; mode=block"
        }

        root * /var/www/html

        route {
                @msDavClient {
                        header User-Agent DavClnt*
                        path /
                }
                redir @msDavClient /remote.php/webdav/{uri} temporary

                route /.well-known/* {                        
                        redir /.well-known/carddav /remote.php/dav/ permanent
                        redir /.well-known/caldav /remote.php/dav/ permanent

                        @well-known-static {
                                path /.well-known/acme-challenge /.well-known/acme-challenge/*
                                path /.well-known/pki-validation /.well-known/pki-validation/*
                        }
                        handle @well-known-static {
                                try_files {path} {path}/ =404
                                file_server
                        }

                        @well-known-service path /.well-known/nodeinfo /.well-known/webfinger
                        handle @well-known-service {
                                header >X-Nextcloud-Well-Known "1"
                                respond 200
                        }

                        redir * /index.php{uri} permanent
                }

                redir /privacy https://www.privacypolicies.com/privacy/view/<UUID> 308

                handle /robots.txt {
                        file_server
                        log_skip
                }

                @internal {
                        path /build /build/*
                        path /tests /tests/*
                        path /config /config/*
                        path /lib /lib/*
                        path /3rdparty /3rdparty/*
                        path /templates /templates/*
                        path /data /data/*

                        path /.*
                        path /autotest*
                        path /occ*
                        path /issue*
                        path /indie*
                        path /db_*
                        path /console*
                }
                error @internal 404

                @assets {
                        path *.css *.js *.mjs *.svg *.gif *.ico *.jpg *.png *.webp *.wasm *.tflite *.map *.ogg *.flac
                        file {path}
                }
                handle @assets {
                        header Cache-Control "public, max-age=15778463, immutable"
                        header *.mjs Content-Type text/javascript
                        header *.wasm Content-Type application/wasm
                        file_server {
                                precompressed gzip
                        }
                        log_skip
                }

                @fonts {
                        path *.otf *.woff *.woff2
                        file {path}
                }
                handle @fonts {
                        header Cache-Control "max-age=2592000"
                        file_server
                        log_skip
                }

                redir /remote/* /remote.php{path} permanent

                @notPhpOrDir not path /*.php /*.php/* / /*/
                file_server @notPhpOrDir {
                        pass_thru
                }

		@notLegacy {
			path *.php *.php/
			not path /index*
			not path /remote*
			not path /public*
			not path /cron*
			not path /core/ajax/update*
			not path /status*
			not path /ocs/v1*
			not path /ocs/v2*
			not path /ocs-provider/*
			not path /updater/*
			not path */richdocumentscode/proxy*
		}
		rewrite @notLegacy /index.php{uri}

                php_fastcgi unix//run/php-fpm/php-fpm.sock {
                        env front_controller_active true
                        request_buffers 512KB
                        header_down -X-Powered-By
                        capture_stderr
                }
        }
}